header {
  padding: 20px 0;
  background: darkred;
  background-size: cover;
  color: white;
}

header .row {
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0 20px;
  margin: 0;
  color: white;
}

.jumbotron {
  background-color: lightgrey;
}

table {
	width: 50%;
	color: black;
	font-weight: bold;
	font-size: 120%;
}

#forms {
	padding: 20px 10px;
	background: darkred;
	background-size: cover;
	color: white;
}

legend {
	color: white;

}

input[type="submit"] { 
	color: black; 
}

#textIn {
	color: black;

}

#txtHint {
	display:inline;

}